@font-face {
    font-family: 'RNS Miles';
    src: local('RNS Miles Bold'), local('RNS-Miles-Bold'),
        url('RNSMiles-Bold.woff2') format('woff2'),
        url('RNSMiles-Bold.woff') format('woff'),
        url('RNSMiles-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

a,
input {
    display: block;
    text-decoration: none;
    color: darkslategrey;
    font-family: 'Open Sans Condensed', sans-serif;
}

.form {
    height: 400px;
    width: 400px;
}

.center-flex {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.nav-link{
    
    color: white;
    font-family: 'RNS Miles';
    
    
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.726)
}

.profile{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

header{
    background-color: rgb(123, 47, 194);
    
}
.welcome  {
    color: rgb(123, 47, 194);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'RNS Miles'
    
}

.profile  {
    color: rgb(123, 47, 194);
    display: flex;
    justify-content: center;
    
    
    align-items: center;
    font-family: 'RNS Miles'
    
}
.nav{
    width: fit-content;
}

.logo{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    
    margin: 3px;
    font-family: 'RNS Miles';
}





.btn-primary {
    color: #fff;
    background-color: rgb(123, 47, 194);
    border-color: rgb(123, 47, 194);
}