@font-face {
    font-family: 'RNS Miles';
    src: local('RNS Miles Bold'), local('RNS-Miles-Bold'),
        url('RNSMiles-Bold.woff2') format('woff2'),
        url('RNSMiles-Bold.woff') format('woff'),
        url('RNSMiles-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

a,
input {
    display: block;
    text-decoration: none;
    color: darkslategrey;
    font-family: 'Open Sans Condensed', sans-serif;
}

.form {
    height: 400px;
    width: 400px;
    
    
    
    
}

.center-flex {
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin: 5%;
}


.nav-link{
    
    color: white;
    font-family: 'RNS Miles';
    
    
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.726)
}

.profile{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

header{
    background-color: rgb(123, 47, 194);
    
}
.welcome  {
    color: rgb(123, 47, 194);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'RNS Miles'
    
}

.profile  {
    color: rgb(123, 47, 194);
    display: flex;
    justify-content: center;
    
    
    align-items: center;
    font-family: 'RNS Miles'
    
}
.nav{
    width: fit-content;
}

.logo{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    
    margin: 3px;
    font-family: 'RNS Miles';
}





.btn-primary {
    color: #fff;
    background-color: rgb(123, 47, 194);
    border-color: rgb(123, 47, 194);
}
.btn-primary:hover{
    color: #fff;
    background-color: rgba(123, 47, 194, 0.794);
    background-color: rgba(123, 47, 194, 0.794);
}
.btn-primary:active{
    color: #fff;
    background-color: rgba(123, 47, 194, 0.794);
    background-color: rgba(123, 47, 194, 0.794);
}
.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

a{
    display: block;
}

.userInfo{
    color: rgb(123, 47, 194);
    font-family: 'RNS Miles';
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.userFullName{
    font-size: 30px;
}

.navbar-brand{
    color: #fff;
}

.dropdown-menu{
  
    text-align: left;
}

ul.dropdown-menu[data-bs-popper]{
    left: -25%; 
}

.button.navbar-toggler-icon .navbar-toggle{
    color: #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}

